.remmond-box {
    margin-top: 11px;
    background: #fff;
    overflow: hidden;

    .remmond-item {
        float: left;
        width: 48.8%;
        height: 87px;
        margin-left: -1px;
        border-left: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        box-sizing: content-box;
        overflow: hidden;
        border-radius: 10px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}